*.swo
*.swp
*~
*.mk
*.pp
*.obj
*.map
*.opt
*makefile
*.launch
*.out
*.cdtbuild
*.prefs
*.userConfig.h
*.UMSATS_CDH_log.txt
*.UMSATS_COM_log.txt
*.cdt
*.settings
*.ccsproject
*.cdtproject
*.project
*.ccxml
*.svn-base
*.png
Project-Cheesecake/source/drivers/devices/msp430/NickTianSPI/Final Report/images/crc/.svn
*.cmd

source/Debug/
